- if @settings.present?
  %table
    - @settings.each do |setting|
      %tr
        %td
          .form-inline
            = text_field_tag "setting_key[#{setting.id}]", setting.key, class: "input-medium", disabled: (setting.protected ? true : false)
            = text_field_tag "setting_value[#{setting.id}]", setting.value, class: "input-medium", disabled: (setting.protected ? true : false)
            = check_box_tag "setting_protected[#{setting.id}]", true, setting.protected?
            = link_to 'delete', setting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"
    %tr
      %td= submit_tag "Submit", class: "btn btn-block btn-primary"
- else
  %h3 No settings.
