%h3 Commands

.commands-block
  %table.table{style: "width: auto"}
    %thead
      %tr
        %th{colspan: 2} EC2
    %tbody
      %tr
        %td Start Instances
        %td= perform_link class: :EC2, method: :start_instances
      %tr
        %td Stop Instances
        %td= perform_link class: :EC2, method: :stop_instances
      %tr
        %td
          Terminate Instances older than
          = aws_setting :ec2_instance_age
          days
        %td= perform_link class: :EC2, method: :clean_instances
      %tr
        %td Clean Security Groups
        %td= perform_link class: :EC2, method: :clean_security_groups
      %tr
        %td Release Elastic IP not associated with an Instance
        %td= perform_link class: :EC2, method: :release_elastic_ip

    %thead
      %tr
        %th{colspan: 2} IAM
    %tbody
      %tr
        %td Delete Users that do not have MFA enabled
        %td= perform_link class: :IAM, method: :clean_users

    %thead
      %tr
        %th{colspan: 2} OpsWorks
    %tbody
      %tr
        %td
          Delete Stacks older than
          = aws_setting :opsworks_stack_age
          days
        %td= perform_link class: :OpsWorks, method: :clean_stacks
      %tr
        %td
          Delete Layers older than
          = aws_setting :opsworks_layer_age
          days
        %td= perform_link class: :OpsWorks, method: :clean_layers
      %tr
        %td
          Delete Instances older than
          = aws_setting :opsworks_instance_age
          days
        %td= perform_link class: :OpsWorks, method: :clean_instances
      %tr
        %td
          Delete Apps older than
          = aws_setting :opsworks_app_age
          days
        %td= perform_link class: :OpsWorks, method: :clean_apps

    %thead
      %tr
        %th{colspan: 2} CloudFormation
    %tbody
      %tr
        %td
          Delete Stacks older than
          = aws_setting :cloudformation_stack_age
          days
        %td= perform_link class: :CloudFormation, method: :clean_stacks
