!!!
%html
  %head
    %title= content_for?(:title) ? "CloudPatrol | #{content_for :title}" : "CloudPatrol"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          = link_to "CloudPatrol", root_path, class: "brand"
          = image_tag "ajax-loader.gif", class: "brand", id: "loader", style: "display: none;"
          %nav.nav-collapse.collapse
            %ul.nav.pull-right
              - unless current_user
                %li= link_to "Log in", login_path
              - else
                %li= link_to "Commands", commands_path
                %li= link_to "Logs", logs_path
                %li= link_to "Settings", settings_path
                %li= link_to "Log out", logout_path
    .main.container
      - unless flash.empty?
        #flash
          - flash.each do |key, val|
            = flash_bootstrap key, val
      = yield
    .footer
      .container
        &copy; 2013
